.gmapContainer
{
	line-height: normal;
	width: 100%;
}

.gmapContainer input.place
{
	width: 375px;
	margin: 0 5px 3px 0;
}

.gmapContainer input.value
{
	clear: left;
	width: 375px;
	margin: 0 5px 0 0;
	background-color: #eeeeee;
}

.gmapContainer .button
{
	width: 75px;
}

.gmapContainer .map
{
	clear: both;
	height: 375px;
	width: 461px;
}

/* Fixing scrollbars in fmText*/
.fmText {
    min-width: 200px;
    max-width: 200px;
}

    .fmText > div {
        overflow: hidden;
        white-space: nowrap;
    }

        .fmText > div > div {
            white-space: normal;
        }